<!DOCTYPE html>
<html>
  <head>
    <title>LocalTable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/auth.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="stylesheets/chefGuest.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="container">  
      <h1>Who are you?</h1>
      <div class="row">
        <div class="col-xs col-md-4" style="margin:3%;">
          <a href="http://localhost:3000/createMeal" class="thumbnail">
            <img src="https://image.spreadshirtmedia.net/image-server/v1/designs/15874268,width%3D178,height%3D178.png" alt="CHEF">
            <h4> I am a <em><b>chef</b></em> </h4>
          </a>
        </div>
        <div class="col-xs col-md-3" style="margin:3%;">
          <a href="#2" class="thumbnail">
            <img src="http://www.clipartkid.com/images/245/baby-hand-print-clip-art-clipart-panda-free-clipart-images-VHELcQ-clipart.png" alt="GUEST">
            <h4> I am a <em><b>guest</b></em> </h4>
          </a>
        </div>
      </div>

     <div id="loaded" style="top:80%;left:35%">
        <div id="main">
          <div id="user-signed-in">
            <div id="user-info" style="position: absolute;width: 100%;top: 85%;">
              <button id="sign-out" style="border-radius:20px;" type="button" class="btn btn-danger btn-lg btn-block">Sign Out</button>
              <div class="clearfix"></div>
            </div>
            </div>
          </div>

          <div id="firebaseui-spa">
            <div id="firebaseui-container"></div>
          </div>

        </div>
      </div>

    <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    
        <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
        authDomain: "localtables-28928.firebaseapp.com",
        databaseURL: "https://localtables-28928.firebaseio.com",
        storageBucket: "localtables-28928.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
    <script src="javascripts/auth.js"></script>
    <script src="javascripts/meals.js"></script>
  </body>
</html>