<!DOCTYPE html>
<html>
  <head>
    <title>LocalTable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/auth.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="stylesheets/chefGuest.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <button id="foo" style="border-radius:20px;" type="button" class="btn btn-info btn-lg btn-block">Random Button</button>

    <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
    
        <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
        authDomain: "localtables-28928.firebaseapp.com",
        databaseURL: "https://localtables-28928.firebaseio.com",
        storageBucket: "localtables-28928.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
    <script src="javascripts/auth.js"></script>
    <script src="javascripts/meals.js"></script>
  </body>

</html>