<!DOCTYPE html>
<html>
    <head>
        <title>LocalTable</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../../stylesheets/chef_profile.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(51,51,51,0.78)">
          <div class="container">
            <i id="back_button" onclick="history.back(-1)" class="fa fa-angle-left" style="font-size:48px;color:white;position:absolute;top:0%;left:4%"></i>
            <h4>Chef Profile</h4>
          </div>
        </nav>

        <div class="container">

            <div class="row" id="block" style="margin-top:50px;">
                <div class="col">
                  <a class="img-rounded">
                    <img id="user_img" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/12923344_1166766580022458_1493336177519295152_n.jpg?oh=94e021c980af7a9806e7bd9ae856dbd7&oe=587FC964" alt="Upload Image">
                  </a>
                  <span class="caption"><p><b>Hanson Zeng</b></p></span>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <hr>

            <h3><b>Meals</b></h3><br>
            <div id="chefsmeals" class="panel panel-default">
                <% for(var i=0; i<chefMeals.length;i++) { %>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 inline">
                                <img id="food_img" class="img-circle" src="<%-chefMeals[i].meal.Image %>" alt="image">
                            </div>
                            <div class="col-xs-8 inline" style="position: absolute;left: 31%;">
                                <p5 class="txt0"><b><%- chefMeals[i].meal.Name %></b></p5><br>
                                <% var x = chefMeals[i].meal.Location.split(",") %><br>
                                <h6 class="txt"><%- x[0] %></h6>
                            </div>
                            <div class="col-xs-2 inline" style="position:absolute;right:15%">
                                <span class="glyphicon glyphicon-edit inline" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove inline" aria-hidden="true"></span><br><br>
                                <h6 class="txt2">$<%- chefMeals[i].meal.Price %></h6>
                            </div>
                        </div>
                    </div>
                    <% if(i != chefMeals.length-1){ %>
                     <hr>
                    <% } %>
                <% } %>
            </div>

        </div>
        <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>

        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
            authDomain: "localtables-28928.firebaseapp.com",
            databaseURL: "https://localtables-28928.firebaseio.com",
            storageBucket: "localtables-28928.appspot.com",
          };
          firebase.initializeApp(config);
        </script>
        <script src="../../javascripts/auth.js"></script>
        <script src="../../javascripts/meals.js"></script>
        <script src="../../javascripts/chef_meals.js"></script>
        <script src="../../javascripts/form.js"></script>
        <script src="../../javascripts/payment.js"></script>
    </body>
</html>