<!DOCTYPE html>
<html>
  <head>
    <title>LocalTable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="stylesheets/auth.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
  </head>

  <body>
    <div id="container">
      <h1>Local <br> &nbsp&nbsp&nbspTable </h1>
      <p>Travel Anywhere, Eat Local.</p>

      <div id="loading">Loading...</div>
      
      <div id="loaded" class="hidden">
        <div id="main">
          <div id="user-signed-in" class="hidden">
            <div id="user-info">
              <div id="photo-container"><img id="photo"></img></div>
              <div id="name"></div>
              <button id="sign-out" type="button" class="btn btn-danger">Sign Out</button>
              
              <button id="put-meals" type="button" class="btn btn-outline-info">Save Meal</button>
              <button id="get-meals" type="button" class="btn btn-outline-info">Get Meal</button>
              <button id="get-all-meals" type="button" class="btn btn-outline-info">Get All Meal</button>
              <button id="post-meals" type="button" class="btn btn-outline-info">Edit Meal</button>
              <button id="delete-meals" type="button" class="btn btn-outline-info">Delete Meal</button>
               <button id="get-chef-meals" type="button" class="btn btn-outline-info">Get Chef's Meals</button>
               <button id="pay-meal" type="button" class="btn btn-outline-info">Pay</button>

              <div class="clearfix"></div>
            </div>
          </div>

          <div id="user-signed-out" class="hidden"></div>
          <div id="firebaseui-spa">
            <div id="firebaseui-container"></div>
          </div>

        </div>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_TK18ZwUnK2CT1Wmof8WsQl8S');
    </script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
        authDomain: "localtables-28928.firebaseapp.com",
        databaseURL: "https://localtables-28928.firebaseio.com",
        storageBucket: "localtables-28928.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
    <script src="javascripts/auth.js"></script>
    <script src="javascripts/meals.js"></script>
    <script src="javascripts/payment.js"></script>
  </body>
</html>