<!DOCTYPE html>  
<html lang="en">  
  <head>

    <meta charset="utf-8">
    <title>Local Table</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/0e974f1c07.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class = "container">
    
      <h1>Local <br> &nbsp&nbsp&nbspTable </h1>

      <p>Travel Anywhere. Eat Local.</p>

      <button onclick="location.href='http://www.facebook.com'" style="width:51%"; class="loginBtn loginBtn--facebook"> Login with Facebook </button>

    </div>
  </body>


</html>  