<!DOCTYPE html>
<html>
    <head>
        <title>LocalTable</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="stylesheets/checkOut.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(51,51,51,0.78)">
          <div class="container">
            <i id="back_button" onclick="history.back(-1)" class="fa fa-angle-left" style="font-size:48px;color:white;position:absolute;top:0%;left:4%"></i>
            <h4>Confirm Purchase</h4>
          </div>
        </nav>

        <div class="row" style="margin-top:50px;">
            <div class="col">
              <p>Agree to pay this amount?</p>
              <h1> $24.00</h1>
              <a class="thumbnail">
                <img src="http://www.bettycrocker.com/-/media/Images/Betty-Crocker/Showcase-Pages/Ideas/Everyday-Meals/Landing/everyday-meals-feature_110115.jpg" alt="Upload Image">
              </a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h2><b>Okonomiyaki <span style="font-size:22px;color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span></b></h2>
                
            </div>
            <div class="row" style="padding-right:10%;">
                <p1>A Japanese savoury pancake containing a variety of ingredients. The name is derived from the word okonomi, meaning 'how you like' or 'what you like', and yaki meaning 'grill'.</p1>
            </div>
            <br>
            <div class="row">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                5000 Forbes Ave, Pittsburgh, PA 15289
            </div>
            <br>
            <div class="row">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                This meal is for a party of 2
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <p1 style="color:green">Cooking lesson is available</p1>
                </div>
            </div>
            <form>
                <a href="./review">
                    <button id="fixedbutton" style="border-radius:20px;" type="button" class="btn btn-success btn-lg btn-block">Pay David $24.00</button>
                </a>
            </form>
        </div>

        <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
            authDomain: "localtables-28928.firebaseapp.com",
            databaseURL: "https://localtables-28928.firebaseio.com",
            storageBucket: "localtables-28928.appspot.com",
          };
          firebase.initializeApp(config);
        </script>
        <script src="javascripts/auth.js"></script>
        <script src="javascripts/meals.js"></script>
        <script src="javascripts/form.js"></script>
    </body>
</html>