* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.firebaseui-idp-button {
  border-radius: 20%;
}

#user-signed-in {
  padding-top: 42%;
}

#user-info {
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#name {
  font-size: 20px;
}

#photo-container {
  background-color: #EEE;
  float: left;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

#photo {
  height: 40px;
  margin: 0;
  width: 40px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

#firebaseui-container button {
  border-radius: 20px;
}