h4 {
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 2%;
}

h5 {
	float: right;
	color: white;
	position: absolute;
	top: 18%;
	right: 7%;
	font-size: 15px;
}


#fixedbutton {
    position: absolute;
    bottom: 0px;
    right: 16px;;

}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.btn-block {
    display: block;
    width: 92%;
}


body {
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #dcdcdc;
  font-family: sans-serif;
}

img {
    opacity: 0.7;
}

p {
	left: 0;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 100%;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    color: #322929;
}

h1 {
	left: 0;
    position: absolute;
    text-align: center;
    top: 119px;
    width: 100%;
    z-index: 1;
    font-weight: bold;
    font-size: 40px;
    color: #322929;
}