body {
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #dcdcdc;
  font-family: sans-serif;
}

h1 {
  font-weight: bold;
}

#upload_link{
    text-decoration:none;
}
#upload{
    display:none
}

button .full-width{
  width:100%;
  //display:block; //only if you're having issues
}