h4 {
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 2%;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  /* Set a background color that will be displayed
     while the background image is loading */
  font-family: sans-serif;
}

.panel {
  border: 0px;
  webkit-box-shadow: 0px;
  box-shadow: 0 0px 0px rgba(0,0,0,0);
}

#user_img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 23%;
    bottom: 61%;
}

#block {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
    display: block;
}

.inline { display: inline-block !important; }

p {
	position: absolute;
	width: 140px;
    height: 140px;
    position: absolute;
    right: 29%;
    top: 40%;
}

.col-xs-6 {
    width: 36%;
    padding-left: 25px;
}

.col-xs-5 {
    width: 29.666667%;
    padding-top: 30px;
}