body {
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #dcdcdc;
  font-family: sans-serif;
}

h4 {
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 2%;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 55px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.col-xs-6 {
    width: 36%;
    padding-left: 25px;
}

.col-xs-5 {
    width: 29.666667%;
    padding-top: 30px;
}